include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include crm_brands *.css
recursive-include crm_brands *.csv
recursive-include crm_brands *.html
recursive-include crm_brands *.ico
recursive-include crm_brands *.js
recursive-include crm_brands *.json
recursive-include crm_brands *.md
recursive-include crm_brands *.png
recursive-include crm_brands *.py
recursive-include crm_brands *.svg
recursive-include crm_brands *.txt
recursive-exclude crm_brands *.pyc